{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="../static/base.css">
{% endblock %}

{% block content %}
<h1>{{chapter.title}}</h1>

<form id="chapterForm" action="/add_chapter/{{ chapter.id }}" method="POST">
    <!-- Скрытое поле для текста -->
    <label><input type="hidden" id="chapterContent" name="content"></label>
    <br>
    <!-- Редактор -->
    <div id="editor" contenteditable="true" class="editorSheet">{{ chapter.content|safe }}</div>

    <br>
    {% if current_user.is_authenticated %}
        <button type="text" name="author" required>Опубликовать</button>
    {% else %}
        <a class="btn btn-primary " href="/register">Зарегистрироваться</a>
        <a class="btn btn-success" href="/login">Войти</a>
    {% endif %}
    </form>
    <button onclick="history.back()">Отмена</button>
<!--        <script>-->
<!--            // Автосохранение в localStorage-->
<!--             function saveLockal()-->
<!--                if (localStorage.getItem('text_in_editor') !== null) {-->
<!--                    document.getElementById('editor').innerHTML = localStorage.getItem('text_in_editor');-->

<!--                }-->

<!--                document.addEventListener('keydown', function (e) {-->
<!--                    localStorage.setItem('text_in_editor', document.getElementById('editor').innerHTML);-->
<!--                });-->
<!--        </script>-->

<script>


    // Обработка отправки формы
    document.getElementById('chapterForm').addEventListener('submit', function (e) {
        // Копируем содержимое редактора в скрытое поле
        document.getElementById('chapterContent').value = document.getElementById('editor').innerHTML;

        // // Можно добавить дополнительную проверку данных
        // if (document.getElementById('editor').innerText.trim().length < 10) {
        //     alert('Текст слишком короткий!');
        //     e.preventDefault(); // Отменяем отправку
        // }
    });
</script>

{% endblock %}

