{% extends "base.html" %}

{% block content %}
<h1>Коллективный роман</h1>

<form action="/add_chapter" method="POST">
    <h3>Добавить главу:</h3>
    <textarea name="content" rows="5" cols="80" required></textarea><br>
    {% if current_user.is_authenticated %}
        <button type="text" name="author" required>Опубликовать</button>
    {% else %}
        <p>
            <a class="btn btn-primary " href="/register">Зарегистрироваться</a>
            <a class="btn btn-success" href="/login">Войти</a>
        </p>
    {% endif %}
</form>


<h2>Все главы:</h2>
{% for chapter in chapters %}
<div class="chapter">
    <p>{{ chapter.content }}</p>
    <small>Автор: {{ chapter.author }} | Дата: {{ chapter.date.strftime('%d.%m.%Y') }} | Голоса: {{ chapter.votes }}</small>
    <a href="/vote/{{ chapter.id }}">
        <button class="vote-btn">👍</button>
    </a>
    <a href="/continue_chapter/{{ chapter.id }} {{ chapter.content }}">
        <button>Продолжить</button>
    </a>
</div>
{% endfor %}
{% endblock %}