{% extends "base.html" %}

{% block head %}
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet"
          href="../static/personal.css">
{% endblock %}
{% block content %}

    {% if user.id == current_user.id %}
        <h1>Привет, {{current_user.name }}!</h1>

        <form class="form-no-project" action="/make_project" method="POST" id="projectForm" style='z-index: 3'>
                <label><b>Новый проект</b></label><br>
                <label for="title"><input type="text" id="title" name="title" placeholder="Название" required></label>
                <button name="project" class="btn" onclick="closeForm()" required>Сохранить</button>
                <button type="button" class="btn cancel" onclick="closeForm()">Отмена</button><br>
        </form>

        <script>
        function openForm() {
          document.getElementById("projectForm").style.display = "block";
        }

        function closeForm() {
          document.getElementById("projectForm").style.display = "none";
        }
        </script>


        <div>
            <button class="floating-button" onclick="openForm()">Создать проект</button>
        </div>

    {% endif %}
    <div>
        {% if projects == 0 %}
            <div class="text-no-project">У вас пока нет проектов..</div>
        {% else %}
            <div>
                {% for id in projects.author_id %}
                    {% if id == current_user.id %}
                        <div class="form-no-project">
                            <button class="button-project"><a href="/edit/<int:{ {projects.id} }>"></a> Проект {{projects.title}}
                            </button>
                        </div>
                    {% endif %}
                {% endfor %}
        </div>
        {% endif %}
    </div>
{% endblock %}
