{% extends "base.html" %}

{% block head %}
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet"
          href="../static/personal.css">
    <link rel="stylesheet" href="../static/base.css">
{% endblock %}
{% block content %}

    {% if user_id == current_user.id %}
        <h1>Привет, {{current_user.name }}!</h1>
        <div class="make-project">
            <form class="make-project-form" action="/make_project" method="POST" id="projectForm">
                    <label><b>Новый проект</b></label><br>
                    <label for="title"><input type="text" id="title" name="title" placeholder="Название" required></label>
                    <label>
                        <button name="project" class="btn" onclick="closeForm()" required>Сохранить</button>
                        <button type="button" class="btn cancel" onclick="closeForm()">Отмена</button><br>
                    </label>
            </form>
        </div>
        <div>
            <button class="floating-button" onclick="openForm()">Создать проект</button>
        </div>
    {% endif %}
<div class="parent">
    {% if projects == 0 %}
        <div class="text-no-project">У вас пока нет проектов..</div>
    {% else %}
        <div class="projects">
        {% for project_group in projects %}
            <label class="projects-label">
                {% for project in project_group %}
                    <button onclick="window.location.href='/show_table/{{ project.chapter_id }}'" style='overflow-wrap: anywhere ;overflow: hidden;border-radius: 2vw; height: 40vw; width: 20vw'>{{ project.title }}</button>
                {% endfor %}
            </label>
        {% endfor %}
        </div>
    {% endif %}
</div>
<script>
        function openForm() {
          document.getElementById("projectForm").style.display = "block";
        }

        function closeForm() {
          document.getElementById("projectForm").style.display = "none";
        }
        </script>
{% endblock %}
