{% extends "base.html" %}

{% block head%}
<link rel="stylesheet" href="../static/base.css">
{% endblock %}

{% block content %}
    <img src="../ava/0.jpg">
    <p>name: {{ user.name }}</p>
    <p>date: {{ user.created_date }}</p>
    <p>about: {{ user.about }}</p>
    <p>mail: {{ user.email }}</p>
    <p>index: {{ user.id }}</p>

<!--    {% if user.id == current_user.id %}-->
<!--        <a href="/redact">-->
<!--            <button>Настройка акаунта</button>-->
<!--        </a>-->
<!--    {% endif %}-->
    <form action="/">
        <button>назад</button>
    </form>
<br>
<br>
<br>
<form action="/logout">
    <button>Выйти из акаунта</button>
</form>
{% endblock %}
